.rce-container-mbox {
    overflow-x: visible;
    color: black;

}

.rce-mbox {
    background: var(--chakra-colors-whiteAlpha-600);
}
.rce-mbox-right {
    background: var(--chakra-colors-cyan-700);
}